<!DOCTYPE html>

<html>
<head>
  <title>To Do List!</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="style.css">


</head>
<body>
  <div class= "spacing">

    <img src="http://pixabay.com/static/uploads/photo/2013/07/18/10/59/postmark-163726_640.jpg">
    
    <%= yield %>
  </div>
</body>
</html>
